<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>
<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap"
  rel="stylesheet"
/>

<section
  class="flex w-screen h-screen bg-gray-200 bg-[radial-gradient(#B8B8B8_1px,transparent_1px)] [background-size:16px_16px]"
>
  <app-sidebar-cooker (sidebarStateChange)="onSidebarToggle($event)">
  </app-sidebar-cooker>
  <div
    [ngClass]="{
      'ml-[90px]': sidebarCollapsed,
      'ml-[240px]': !sidebarCollapsed
    }"
    class="flex-1 p-6 space-y-4 transition-all duration-300"
  >
    <nav class="text-sm text-gray-500">
      <span routerLink="/cooker" class="text-[#6A7282] font-normal"
        >Inicio</span
      >
      > <span class="text-[#6A7282] font-normal">Pedidos</span> >
      <span class="text-gray-800 font-medium">Actualizar Estado</span>
    </nav>

    <div>
      <h1 class="text-xl font-semibold text-gray-800">
        Actualizar Estado de Pedidos
      </h1>
      <p class="text-sm text-gray-500">
        Pedidos que han sido terminados, se les cambia el estado
      </p>
    </div>

    <div class="flex flex-col space-y-6">
      <!-- Filtros -->
      <app-filtros-pedidos
        [mostrarFiltroEstado]="false"
        [busquedaCodigo]="busquedaCodigo"
        [estadoSeleccionado]="estadoSeleccionado"
        [ordenFecha]="ordenFecha"
        (busquedaCodigoChange)="busquedaCodigo = $event; aplicarFiltros()"
        (estadoSeleccionadoChange)="
          estadoSeleccionado = $event; aplicarFiltros()
        "
        (ordenFechaChange)="ordenFecha = $event; aplicarFiltros()"
        (reiniciar)="reiniciarFiltros()"
      ></app-filtros-pedidos>

      <!-- Tabla editable de pedidos -->
      <app-tabla-update-pedidos
        [pedidos]="pedidosFiltrados"
        (verDetalle)="abrirModal($event)"
        (estadoActualizado)="actualizarEstadoPedido($event)"
      ></app-tabla-update-pedidos>

      <app-detalles-pedido
        *ngIf="modalAbierto"
        [pedido]="pedidoSeleccionado"
        (cerrar)="cerrarModal()"
      ></app-detalles-pedido>
    </div>
  </div>
</section>
